/*Tela Inicio*/
.h1{
font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid rgb(107, 95, 95);
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 1) 1px 1px 3px 0;
  box-sizing: border-box;
  color: black;
  margin-right: 30%;
  margin-left: 30%;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: .5px solid black;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;   
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 5%;
  margin-left: 2px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Tela Login */

.vapor1{
    font-family: 'Comic Sans';
    border: 1px solid black;
    border-radius: 10px;
}

.login{
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border: solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: -14%;
    width: 400px;
    box-shadow: 5px 10px 10px rgba(gray, 0.2);
}

.input {
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: solid #fb8332;
      padding: 10px 10px;
      margin: 15px -10px;
      box-shadow: 5px 10px 10px rgba(gray);

}


